<div class="container-fluid" >
</div>
<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" *ngIf="errMsg">{{errMsg}}</div>
          <form *ngIf="!submitted" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" #email="ngModel" 
              [class.is-invalid]="email.invalid && email.touched" class="form-control" required
               name="email" [(ngModel)]="userModel.email" >
               <small class="text-danger" [class.d-none]="email.valid || email.untouched"> Email is required</small>
            </div>
      
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" required
               name="password" #password="ngModel"
               [class.is-invalid]="password.invalid && password.touched"
               [(ngModel)]="userModel.password" >
               <small class="text-danger" [class.d-none]="password.valid || password.untouched"> Password is required</small>
            </div>
            <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit form</button>
          </form>
              </div>
      </div>
    </div>
  </div>
</div>