<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" id="nav-home" href="#">Simple Login App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="users" routerLinkActive="active" *ngIf="_authService.loggedIn()">
              Users
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="singup" routerLinkActive="active" *ngIf="_authService.loggedIn()">
              Add User
          </a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" style="margin-left:10px" routerLink="singup" routerLinkActive="active" *ngIf="!_authService.loggedIn()">
            Sign up
        </a>
        <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!_authService.loggedIn()">
            Login
        </a>
        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
    </ul>
  </div>
</nav> 

<div class="container">
  <router-outlet></router-outlet>            
</div>
