<div class="container-fluid" >
    <div class="alert alert-danger" *ngIf="errMsg">{{errMsg}}</div>
    <form *ngIf="!submitted" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <h2>Sign Up</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" #email="ngModel" 
        [class.is-invalid]="email.invalid && email.touched" class="form-control" required
         name="email" [(ngModel)]="userModel.email" >
         <small class="text-danger" [class.d-none]="email.valid || email.untouched"> Email is required</small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required
         name="password" #password="ngModel"
         [class.is-invalid]="password.invalid && password.touched"
         [(ngModel)]="userModel.password" >
         <small class="text-danger" [class.d-none]="password.valid || password.untouched"> Password is required</small>
      </div>

      <div class="form-group">
          <label for="first_name">first name</label>
          <input type="text" class="form-control" id="first_name" required
            name="first_name" #first_name="ngModel"
            [class.is-invalid]="first_name.invalid && first_name.touched"
            [(ngModel)]="userModel.first_name" >
            <small class="text-danger" [class.d-none]="first_name.valid || first_name.untouched"> First name is required</small>
      </div>
      <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" required
            name="last_name" #last_name="ngModel"
            [class.is-invalid]="last_name.invalid && last_name.touched"
            [(ngModel)]="userModel.last_name" >
            <small class="text-danger" [class.d-none]="last_name.valid || last_name.untouched"> Last name is required</small>
      </div>
          <div class="form-group">
              <label for="status">status</label>
              <input type="text" class="form-control" id="status" required
               name="status" #status="ngModel"
               [class.is-invalid]="status.invalid && status.touched"
               [(ngModel)]="userModel.status" >
               <small class="text-danger" [class.d-none]="status.valid || status.untouched"> status is required</small>
         </div>
    <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>