<div class="container">
    <div class="row">
      <div class="col-sm">
        Email
      </div>
      <div class="col-sm">
        Status
      </div>
      <div class="col-sm">
        Log
      </div>
      <div class="col-sm">
          Delete
      </div>
    </div>
  </div>
  <div *ngFor='let user of userList' class="container">
    <div class="row">
        <div class="col-sm">
            <a routerLink="{{user._id}} " routerLinkActive="active">
                {{user?.email }}</a>
        </div>    
        <div class="col-sm">
            {{user?.status}}
        </div>
        <div class="col-sm">
          None
        </div>
        <div class="col-sm text-success">
            <a (click)="deleteUser(user._id)" >Delete</a>
        </div>
      </div>
  </div>  